// font includes
@import url(//fonts.googleapis.com/css?family=Alegreya+Sans+SC:500);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

// menu settings
$menu-width: 50px;
$menu-open-width: 250px;
$menu-logo-porportion: 0.76;
