//* theme style specific variables *//

// font includes
@import url(//fonts.googleapis.com/css?family=Alegreya+Sans+SC:500);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

// menu settings
$menu-width: 50px;
$menu-open-width: 250px;
$menu-logo-porportion: 1.0;

// headline font
$headline-font: "Alegreya Sans SC", Helvetica, sans-serif;

// main font
$font: Helvetica, sans-serif;

$menu-color: #d35400;
$menu-item-color: #e67e22;
$menu-active-color: #f39c12;
$menu-hover-color: #f1c40f;
$theme-color-4: #2c3e50;
$theme-color-5: #bdc3c7;
$theme-color-6: #7f8c8d;

// general success and error colors
$red: #c0392b;
$green: #27ae60;
