//* theme style specific variables *//

// font includes
@import url(//fonts.googleapis.com/css?family=Alegreya+Sans+SC:500);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

// menu settings
$menu-width: 50px;
$menu-open-width: 250px;
$menu-logo-porportion: 1.0;

// headline font
$headline-font: "Alegreya Sans SC", Helvetica, sans-serif;

// main font
$font: Helvetica, sans-serif;

$menu-color: #d35400;
$menu-item: #e67e22;
$menu-active: #f1c40f;
$menu-hover: #f39c12;
$light-gray: #ecf0f1;
$medium-gray: #bdc3c7;
$dark-gray: #95a5a6;

// general success and error colors
$red: #c0392b;
$green: #27ae60;
